<div>
  <div class="aboutUs">
    <h6>
      <div class="container row">
        <p>Todos los derechos reservados © 2023</p>
        <nav>
          <ul>
            <!-- <li><a href="tycppd">Términos y condiciones</a></li> -->
            <li><a [routerLink]="['/tycppd/1']">Términos y condiciones</a></li>
            <li><a [routerLink]="['/tycppd/2']">Política de privacidad</a></li>
            <li><a [routerLink]="['/tycppd/3']">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </h6>
</div>
</div>

