<!-- <div class="col-md-4 offset-md-4">
  <div class="card">
    <div class="card-body">
      <form>

        <p>Cedula Empleado</p>
        <div class="form-group">
          <input type="number" name="cedula" [(ngModel)]="empleado.cedula" class="form-control" autofocus>
        </div>

        <p>Nombre Empleado</p>
        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="empleado.nombre" class="form-control">
        </div>

        <p>Apellido Empleado</p>
        <div class="form-group">
          <input type="text" name="apellido" [(ngModel)]="empleado.apellido" class="form-control">
        </div>

        <p>Correo</p>
        <div class="form-group">
          <input type="text" name="correo" [(ngModel)]="empleado.correo" class="form-control">
        </div>

        <p>Contraseña</p>
        <div class="form-group">
          <input type="text" name="contrasena" [(ngModel)]="empleado.contrasena" class="form-control">
        </div>

        <p>Cargo</p>
        <div class="form-group">
          <input type="text" name="cargo" [(ngModel)]="empleado.cargo"  class="form-control">
        </div>

        <button class="btn btn-success btn-block btn-sm" id="uf-1" (click)="edit ? updateEmpleado() : saveNewEmpleado()">
          Guardar
        </button>
        <a routerLink="/empleados" class="btn btn-success btn-block btn-sm" id="uf-2">
          Cancelar
        </a>
      </form>
    </div>
  </div>
</div> -->
