.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

table{
  border: solid;
}

.table td, .table th {
  padding: 2rem;
  font-size: 14px;
}

/*Estilo para el boton Nueva Factura*/
#fl-1 {
  margin: auto;
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3e88ddd0;
}
/*Estilo para el boton EDIT*/
#fl-2 {
  margin: 5px 10px;
  justify-content: center;
  background-color: #2a8a2dea;
}
/*Estilo para el boton BORRAR*/
#fl-3 {
  margin: 5px 10px;
}
