<!-- <app-dash-ventas></app-dash-ventas> -->

<!-- <app-dash-rotacion></app-dash-rotacion> -->
<!-- <div class="grid-container">

  
</div> -->
<!--<div id="containerDE" class="dashElemets">
  <app-dash-productos></app-dash-productos>
  <app-dash-clientes></app-dash-clientes>
  <app-dash-mantenimientos></app-dash-mantenimientos>
  <app-dash-ventas></app-dash-ventas>
  <app-dash-categorias></app-dash-categorias>
  <app-dash-prod-mantenimientos></app-dash-prod-mantenimientos>

  <div>
    <div class="dash-element" id="calificaciones">
      < !-- <div style="display: block"> -- >
      <p>Calificaciones:</p>
      <div class="graph">
        <canvas id="calificacion" baseChart [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType">
        </canvas>
      </div>
      < !-- [plugins]="barChartPlugins"  [colors]="chartColors" -- >
    </div>

  </div>
  < !-- <hr> -- >
  
</div>-->
<div id="contdashboard">

  <div id="navMenu">

    <div>
      <h5>¿Qué quieres hacer?</h5>
    </div>

    <div class="lista">
      <p routerLink="/empleados"><a class="btn"> <i class="fa-sharp fa-solid fa-check"></i></a>Gestionar Empleados
      </p>
      <p routerLink="/productos"><a class="btn"> <i class="fa-sharp fa-solid fa-check"></i></a>Gestionar inventario
      </p>
      <p routerLink="/mantenimientos"><a class="btn"> <i class="fa-sharp fa-solid fa-check"></i></a>Consultar
        mantenimientos
      <p>
      <p routerLink="/facturas/add"><a class="btn"> <i class="fa-sharp fa-solid fa-check"></i></a>Agregar una factura
      </p>
      <p routerLink="/proveedores"><a class="btn"> <i class="fa-sharp fa-solid fa-check"></i></a>Revisar proveedores
      </p>
      <p routerLink="/categorias"><a class="btn"> <i class="fa-sharp fa-solid fa-check"></i></a>Ver categorías
      </p>
      <!-- <span>ASDASDASd</span> -->

    </div>

  </div>
</div>

<!-- <app-dash-productos></app-dash-productos> -->
<!-- <app-dash-clientes></app-dash-clientes> -->
<!-- <app-dash-mantenimientos></app-dash-mantenimientos> -->
<!-- <app-dash-ventas></app-dash-ventas> -->
<!-- <app-dash-categorias></app-dash-categorias> -->
<!-- <app-dash-prod-mantenimientos></app-dash-prod-mantenimientos> -->

<!--<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="33%">
    < !-- Insertar primer gráfico aquí -- >
</div>
    <app-dash-clientes></app-dash-clientes>
  </div>
  <div fxFlex="33%">
    <! -- Insertar segundo gráfico aquí - ->
    <app-dash-clientes></app-dash-clientes>
  </div>
  <div fxFlex="33%">
    < !-- Insertar tercer gráfico aquí - ->

    <p>Calificaciones:</p>
      <div class="graph">
        <canvas id="calificacion" baseChart [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType">
        </canvas>
      </div>

  </div>
</div>-->

<!-- <mat-grid-list [cols]="2" [rowHeight]="'8:3'">
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <app-dash-clientes></app-dash-clientes>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="2" [colspan]="1">
    <app-dash-mantenimientos></app-dash-mantenimientos>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <app-dash-categorias></app-dash-categorias>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <app-dash-categorias></app-dash-categorias>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <app-dash-categorias></app-dash-categorias>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <app-dash-categorias></app-dash-categorias>
  </mat-grid-tile>

  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <div class="dash-element">
      <p>Calificaciones:</p>
      <div class="graph">

        <canvas id="calificacion" baseChart [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [legend]="barChartLegend" [type]="barChartType">
        </canvas>
      </div>
    </div>
  </mat-grid-tile>

</mat-grid-list> -->


<!-- <div> -->
<!-- <div class="dash-element" id="calificaciones">
    <! -- <div style="display: block"> - ->
    <div>
      <canvas id="calificacion" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [type]="barChartType">
      </canvas>
    </div>
    <! -- [plugins]="barChartPlugins"  [colors]="chartColors" - ->
  </div> -->
<!-- </div> -->