.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/*Estilo para el boton Guardar*/
#cf-1 {
  margin:center;
}
/*Estilo para el boton Cancelar*/
#cf-2 {
  margin: center;
  background-color: #3e88ddd0;
}


