<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div id="bod">
<section>
    <div class="form-box">
        <div class="form-value">
            <form action="" [formGroup]="formulario">
                <h2>Inicia Sesión</h2>
                <div class="inputbox">
                    <!-- <ion-icon name="mail-outline"></ion-icon> -->
                    <input type="text" formControlName="cedula" [class.is-invalid]="cedulaNovalida" [(ngModel)]="userdata.cedula" required maxlength="10">
                    <label for="">Cedula</label>
                </div>
                <small *ngIf="cedulaNovalida" class="text-danger col-md-6">Campo requerido o no valido</small>

                <div class="inputbox">
                    <!-- <ion-icon name="lock-closed-outline"></ion-icon> [(ngModel)]="contrasena" -->
                    <input type="password" formControlName="contrasena" id="password" [class.is-invalid]="contrasenaNovalido" [(ngModel)]="userdata.contrasena"  required>
                    <button id="show_password" class="btn5 btn-primary" type="button" onclick="mostrar()"> <span class="fa fa-eye-slash icon"></span> </button>
                    <label for="">Contraseña</label>
                </div>
                <!-- <small *ngIf="contrasenaNovalido" class="text-danger col-md-6">Campo requerido o no valido</small> -->

                <div class="forget">
                    <label for=""><a href="#">¿Olvidaste tu contraseña?</a></label>

                </div>
                <button (click)="lookForUser()">Log in</button>
                <div class="register">
                    <p>¿No tienes cuenta? <a routerLink="/signUp">Registrar</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
<!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
