<br>
<div class="TYC" *ngIf="contenido == 1">
  <h3>Términos y Condiciones:</h3>
  <p>Bienvenido a MOTOPITS. Al utilizar este sitio web, usted acepta cumplir con los términos y condiciones establecidos a continuación. Si no está de acuerdo con estos términos y condiciones, no utilice este sitio web.</p>
  <h6><b>Propiedad Intelectual:</b></h6> <p>Todos los contenidos de este sitio web, incluyendo pero no limitado a, texto, gráficos, logotipos, iconos, imágenes, clips de audio, descargas digitales, compilaciones de datos y software, son propiedad exclusiva de MOTOPITS y están protegidos por las leyes de propiedad intelectual aplicables.</p>
  <h6><b>Uso permitido:</b></h6><p>Este sitio web se proporciona únicamente para su uso personal y no comercial. Usted puede descargar, imprimir y almacenar copias de los contenidos de este sitio web únicamente para su uso personal y no comercial, siempre y cuando no modifique ni elimine ningún derecho de autor o nota de propiedad de los contenidos.</p>
  <h6><b>Restricciones de uso:</b></h6><p>Está estrictamente prohibido cualquier otro uso de los contenidos de este sitio web, incluyendo, entre otros, la reproducción, modificación, distribución, transmisión, exhibición, publicación, venta, licencia o cualquier otro uso comercial, sin el previo consentimiento por escrito de MOTOPITS.</p>
  <h6><b>Modificaciones:</b></h6><p>Nos reservamos el derecho de modificar, actualizar o cambiar estos términos y condiciones en cualquier momento sin previo aviso. Cualquier modificación, actualización o cambio tendrá efecto inmediatamente después de su publicación en este sitio web.</p>
  <br><p>Si tienes alguna pregunta o inquietud acerca de nuestros Términos y Condiciones o Políticas de Privacidad, no dudes en ponerte en contacto con nosotros mediante la información de contacto que se proporciona en nuestro sitio web.</p>
</div>
<br>
<br>
<div class="PPD" *ngIf="contenido == 2">
  <h3>Políticas de Privacidad:</h3>
  <p>En MOTOPITS, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta política de privacidad describe cómo MOTOPITS recopila, utiliza y protege la información personal de sus usuarios.</p>
  <h6><b>Información personal recopilada:</b></h6><p>MOTOPITS puede recopilar información personal de sus usuarios, como su nombre, dirección de correo electrónico, dirección postal y número de teléfono. Esta información se recopila únicamente con el fin de brindar un mejor servicio al usuario y no se compartirá con terceros sin el consentimiento explícito del usuario.</p>
  <h6><b>Uso de la información personal:</b></h6><p>MOTOPITS utiliza la información personal recopilada para proporcionar al usuario acceso a los servicios ofrecidos en el sitio web, para mejorar los servicios y productos ofrecidos, para enviar información sobre ofertas especiales y promociones, y para enviar boletines informativos y otros materiales de marketing.</p>
  <h6><b>Seguridad de la información:</b></h6><p>MOTOPITS se compromete a proteger la información personal de sus usuarios. Utilizamos medidas de seguridad para proteger contra la pérdida, mal uso y alteración de la información bajo nuestro control.</p>
  <h6><b>Cambios en la política de privacidad:</b></h6><p>Nos reservamos el derecho de modificar, actualizar o cambiar esta política de privacidad en cualquier momento sin previo aviso. Cualquier modificación, actualización o cambio tendrá efecto inmediatamente después de su publicación en este sitio web.</p>
  <br><p>Si tienes alguna pregunta o inquietud acerca de nuestros Términos y Condiciones o Políticas de Privacidad, no dudes en ponerte en contacto con nosotros mediante la información de contacto que se proporciona en nuestro sitio web.</p>

</div>
<div class="CONTACTO" *ngIf="contenido == 3">
  <h3>Contacto:</h3>
  <p>Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros. Puedes hacerlo a través de cualquiera de los siguientes métodos:</p>
  <ul>Correo electrónico: [insertar dirección de correo electrónico]</ul>
  <ul>Teléfono: [insertar número de teléfono]</ul>
  <ul>Dirección: [insertar dirección física]</ul>
  <p>También puedes completar el siguiente formulario y nos pondremos en contacto contigo lo antes posible:</p>
  <ul>[Insertar formulario de contacto]</ul>
  <p>Gracias por ponerte en contacto con nosotros. Nos esforzamos por responder a todas las consultas lo antes posible.</p>
</div>
